<tr>
    <th scope="col" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Date</th>
    <th scope="col" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-right-style: dotted;border-bottom-style: dotted;">${date}</th>
    <th scope="col" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">SupGroup & Audit By</th>
    <th scope="col" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-right-style: dotted;border-bottom-style: dotted;">${team};&nbsp;${sup}</th>
    <th scope="col" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">LocatorID</th>
    <th scope="col" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-right-style: dotted;border-bottom-style: dotted;">${locatorid}</th>
    <th scope="col" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Name</th>
    <th scope="col" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-right-style: dotted;border-bottom-style: dotted;">${name}</th>
  </tr>
  <tr>
    <th scope="row" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Ticket No</th>
    <th style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted; ">${ticketno}</th>
    <th scope="row" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Utility</th>
    <th style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${utility}</th>
    <th scope="row" style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Address
      </th>
    <th colspan="3" style="width:225px; text-align:left;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${address}
      </th>     
  </tr>
  <tr>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">OnSite</th>
    <th style="width:75px; text-align:left;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;"> ${onsite}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Project
      </th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${project}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Damage Related
      </th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${damagerelated}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">HP
      </th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${hp}</th>
  </tr>
  <tr>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">TicketPro - GPS<br />
Arrival Diff (min)</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${arrivaldiff}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Arrival Diff<br />
Pass/Fail</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${arrival}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">TicketPro -GPS<br />
Service Time Diff (min)</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${servicediff}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Service Diff<br />
Pass/Fail</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${service}</th>
  </tr>
  <tr>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Billed<br />
      Accurately</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${bill}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Sufficient<br />
      Documentation</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${doc}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Scope<br />
      Covered</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${scopecovered}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Marking Stds<br />
      Followed</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${markingstds}</th>
  </tr>
  <tr>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Located<br />
Accurately</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${locateacc}</th>
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Damage<br />
Code</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${damagecode}</th>
    
    <th scope="row" style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Emergency</th>
    <th style="width:75px;text-align:left; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${emergency}</th>   
    <th scope="row">&nbsp;<!--${tickets}-->
      </th>
    <th>&nbsp;</th>  
  </tr>
  
  <tr>
       <th scope="row" style="width:75px;text-align:left;background-color:#E2A76F; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Ticket<br />
       Score</th>
       <th style="width:75px;text-align:left; background-color:#E2A76F;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${score}</th>
       
       <th scope="row" style="width:75px;text-align:left;background-color:#E2A76F; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Ticket<br />
       Comment</th>
        <th colspan="5" style="width:75px;text-align:left; background-color:#E2A76F;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${ticcomment}</th>
  </tr>
  
  
   
  <tr>
    <th scope="row" style="width:75px;text-align:left;background-color:#FFFF99; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Clock in/out &amp; lunch<br />
      reasonable on route</th>
    <th style="width:75px;text-align:left; background-color:#FFFF99;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${reasonroute}</th>
    <th scope="row" style="width:75px;text-align:left; background-color:#FFFF99;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Total Idle<br />
      Time</th>
    <th style="width:75px;text-align:left; background-color:#FFFF99;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${idletime}</th>
    <th scope="row" style="width:75px;text-align:left; background-color:#FFFF99;border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Clock in/out &amp; lunch<br />
      reasonable on route</th>
    <th style="width:75px;text-align:left;background-color:#FFFF99; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${effiroute}</th>
    <th scope="row" style="width:75px;text-align:left;background-color:#FFFF99; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Overall<br />
      Overall</th>
    <th style="width:75px;text-align:left;background-color:#FFFF99; border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${overall}</th>
  </tr>
  <tr>
    <th scope="row" style="width:75px;text-align:left;background-color:#FFFF99; border-width:1px; border-top-style: dotted; border-left-style: dotted;border-bottom-style: dotted;">Comment</th>
    <th colspan="7" style="width:75px;text-align:left; background-color:#FFFF99;border-width:1px; border-top-style: dotted; border-right-style: dotted;font-weight:normal;border-bottom-style: dotted;">${comment}</th>
  </tr>
  <tr> <th colspan="8" class="seperate"></th></tr>