<tr>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${date}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${team}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${sup}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${locatorid}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${name}</td>
    <!--<td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${tickets}</td>-->
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${ticketno}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${utility}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${address}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${onsite}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${project}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${damagerelated}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${hp}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${arrivaldiff}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${arrival}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${servicediff}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${service}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${bill}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${doc}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${scopecovered}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${markingstds}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${locateacc}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${damagecode}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${reasonroute}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${idletime}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${effiroute}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${overall}</td>
    <td style="background-color: #FFFACD;border-width: 1px; border-color: black; border-style: solid;">${comment}</td>
    
</tr>